###
# Unity folders and files
###
[Aa]ssets/AssetStoreTools*
[Aa]ssets/AssetStoreTools/Mirror*
[Bb]uild/
[Ll]ibrary/
[Ll]ocal[Cc]ache/
[Oo]bj/
[Tt]emp/
[Uu]nityGenerated/
[Mm]ega[Mm]an_[Oo]vercharged_clone_1*
[Mm]ega[Mm]an_[Oo]vercharged_clone_1/
# file on crash reports
sysinfo.txt
# Unity3D generated meta files
*.pidb.meta
*.meta

###
# VS/MD solution and project files
###
[Ee]xportedObj/
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb
.DS_Store

###
# OS generated
###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
New Unity 3D Project/Assets/AssetStoreTools/Mirror/Components/NetworkProximityChecker.cs
New Unity 3D Project/Assets/AssetStoreTools/
MegaMan_Overcharged/Logs/AssetImportWorker0.log
